mixin info()
  -
    const accordionBaccalau = [
      {
        title: "Имеете ли вы право на ведение оценочной деятельности?",
        icon: "icon-arrow",
      },
      {
        title: "Можно ли произвести оценку недвижимости без технической документации?",
        icon: "icon-arrow",
      },
      {
        title: "Какие нормативные документы регламентируют процедуру проведения оценки?",
        icon: "icon-arrow",
      },
      {
        title: "Где узнать, является ли оценщик аккредитованным банком?",
        icon: "icon-arrow",
      },
      {
        title: "Можно ли оценщику, не аккредитованному банком проводить оценку для этого банка?",
        icon: "icon-arrow",
      }
    ]

    const contentData = [
      {
        text: "Отсутствие технического паспорта не является непреодолимым препятствием для осуществления оценки недвижимости. Несмотря на то, что наличие технического паспорта или выписки из технического паспорта существенным образом облегчает работу оценщика, при отсутствии соответствующих документов оценщиком могут быть самостоятельно выполнены обмеры оцениваемого объекта и установлены объемно-планировочные параметры. Однако, необходимо иметь в виду следующее:",
      },
      {
        text: "- необходимость самостоятельного проведения обмеров оценщиком увеличивает как время, необходимое для подготовки отчета, так и стоимость работ;",
      },
      {
        text: "- при проведении оценки в целях кредитования под залог прав на недвижимость наличие технического паспорта или выписки из технического паспорта является обязательным требованием большинства банков. Кроме того, некоторые банки требуют технический паспорт или выписку из технического паспорта, составленную на дату, максимально приближенную к дате кредитования.",
      }
    ]

  section.info&attributes(attributes)
    .container
      .info__wrapper
        .info__name
          h2.title.title--lg.info__title Ответы на часто задаваемые вопросы
        .info__description
          .accordion-list
            .accordion(data-accordion="parent", data-single)
              each item in accordionBaccalau
                .accordion__element(data-accordion="element")
                  button.accordion__button(type="button", data-accordion="button")
                    span=item.title
                    span.accordion__icon
                      +icon(item.icon, 8, 15)
                  .accordion__content(data-accordion="content")
                    .accordion__wrapper
                      each item in contentData
                        if  item.text
                            p !{item.text}
                        if  item.ol
                            ol
                              each liItem in item.ol
                                li !{liItem}
