mixin subscribe()

  section.subscribe&attributes(attributes)
    .container
      .subscribe__wrapper
        .subscribe__name
          h2.title.title--lg.subscribe__title
            | Получите подробное разъяснение расчётной процедуры&nbsp;
            span бесплатно!
          p Подпишитесь на рассылку, и файл придет на&nbsp;указанный&nbsp;адрес электронной почты
        .subscribe__form
          +subscribe-form()
