.btn {
  display: inline-flex;
  margin: 10px 0;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &--yellow {
    position: relative;
    width: 300px;
    padding: 12px 74px;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: $color-dark-grey;
    justify-content: center;
    border-radius: 30px;
    background-color: $color-yellow2;
    // background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }

  &--round {
    padding: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    fill: none;
    background-color: $color-default-white;
    color: $color-dark-grey;

    border-radius: 50%;
  }
}
