.footer {
  padding-bottom: 30px;
  padding-top: 60px;
  background-color: $color-dark-grey;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__box {
    display: flex;
  }

  &__logo {
    max-width: 240px;
    width: 100%;
    flex-grow: 0;
    margin-right: 82px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &--tel {
      max-width: 230px;
      width: 100%;
      margin-right: 80px;

      a {
        font-size: 20px;
        line-height: 26px;
        font-weight: 700;
        margin-bottom: 10px;

        color: $color-default-white;
        transition: $trans-default;

        @media (hover: hover), screen and (min-width: 0\0) {
          &:focus,
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    &--post {
      max-width: 263px;
      width: 100%;

      margin-right: 47px;

      a {
        font-size: 20px;
        line-height: 26px;
        font-weight: 700;

        color: $color-default-white;
        transition: $trans-default;

        @media (hover: hover), screen and (min-width: 0\0) {
          &:focus,
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    &--office {
      max-width: 280px;
      width: 100%;

      font-size: 20px;
      line-height: 26px;
      font-weight: 700;

      color: $color-default-white;

      p {
        margin: 0;
        font-size: 20px;
        line-height: 26px;
        font-weight: 700;
      }
    }
  }

  &__nav-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    color: $color-default-white;
    margin: 0;
    margin-bottom: 30px;
  }

  &__nav-box {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav-list {
    width: 280px;

    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__nav-link {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: $color-default-white;
    transition: $trans-default;
    margin: 0;
    margin-bottom: 20px;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:focus,
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__name {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;

    color: $color-default-white;
    margin: 0;
    margin-bottom: 10px;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 16px;
      line-height: 21px;
      color: $color-default-white;
      margin: 0;
    }

    a {
      font-size: 16px;
      line-height: 21px;
      color: $color-default-white;
      transition: $trans-default;
      margin: 0;

      @media (hover: hover), screen and (min-width: 0\0) {
        &:focus,
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &__logo-picture {
    width: 80px;
    height: 80px;

    background: #FFD159;
    border-radius: 10px;
    transform: rotate(-45deg);
  }

  &__order {
    display: flex;
    align-items: center;

    margin-top: 50px;

    span {
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;

      color: $color-default-white;
      margin-left: 10px;
    }
  }

  &__section {
    margin-bottom: 50px;
  }
}
