// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2"),
//     url("../fonts/rouble.woff") format("woff");
// }

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Epilogue";

  font-display: swap;
  src:
    url("../fonts/epilogue-bold.woff2") format("woff2"),
    url("../fonts/epilogue-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Epilogue";

  font-display: swap;
  src:
    url("../fonts/epilogue-regular.woff2") format("woff2"),
    url("../fonts/epilogue-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Fester";

  font-display: swap;
  src:
    url("../fonts/fester_trial-bold.woff2") format("woff2"),
    url("../fonts/fester_trial-bold.woff") format("woff");
}
