-
  const socials = [
    {
      name: "telegramm",
      link: "#",
      description: "Мы Телеграмме"
    },
    {
      name: "instagram",
      link: "#",
      description: "Мы в Инстаграмме"
    },
    {
      name: "vk",
      link: "#",
      description: "Мы Вконтакте"
    },
    {
      name: "fb",
      link: "#",
      description: "Мы в Фейсбуке"
    }
  ]
